<%# <h1>Buildings#index</h1> %>
<%= render partial: "layouts/nav"%>
<%= image_tag "top-image1.jpg", class:"img-fluid top-image1" %>
<div class="center-box">
  <%= image_tag "logo.jpg", class:"center-logo-image"%>
</div>
