// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.top-image2{
  height: 100%;
  width: 100%;
}

.card{
  text-align: center;
  margin-top: 12%;
  margin-right: 40px;
}